<h2>User info</h2>
<!-- エラーメッセージ表示-->
<div>
<% if @user.errors.any? %>
	<h3><%= @user.errors.count %>件のエラーが発生しました。</h3><!--エラーメッセ-->
	<ul>
		<% @user.errors.full_messages.each do |message| %>
		<li>error <%= message %></li>
		<% end %>
	</ul>
<% end %>
</div>
<!-- エラーメッセージ表示-->
<%= form_for(@user, url: "/users/#{@user.id}") do |f| %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name, class: "name" %>
</div>

<div class="field">
	<%= f.label :image %>
	<%= f.attachment_field :profile_image, class: "user_image" %>
</div>

<div class="field">
	<%= f.label :introduction %>
	<%= f.text_area :introduction, class: "introduction" %>
</div>

<div class="actions">
	<%= f.submit %>
</div>

<% end %>